.fact-checking
  padding-top: 100px
  padding-bottom: 140px
  &__header
    border-bottom: 1px solid #DADADA
    padding-bottom: 40px
    .subtitle
      margin-top: 20px
  &__tabs
    margin-top: 50px
    display: flex
    flex-wrap: wrap
    .active
      background: #FFE72E !important
  &__tab
    background: #FFFAD5
    border-radius: 4px
    padding: 12px 20px
    cursor: pointer
    color: #373209
    font-size: 15px
    font-family: '500'
    margin-bottom: 16px
    & + .fact-checking__tab
      margin-left: 16px
  &__content
    margin-top: 60px
  &__result
    font-size: 16px
    font-family: '500'
  &__cards
    margin-top: 30px
    display: flex
    flex-wrap: wrap
  &__card
    width: 23.5%
    margin-right: 2%
    border: 1px solid #DADADA
    border-radius: 10px
    padding: 20px
    min-height: 237px
    margin-bottom: 2%
    &:nth-child(4n+4)
      margin-right: 0
    &-title
      font-size: 15px
      font-family: '500'
      line-height: 19px
    &-subtitle
      margin-top: 20px
      color: #7E7E7E
      font-size: 14px
      font-family: '500'
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 4
      -webkit-box-orient: vertical
    &-link
      margin-top: 38px
      cursor: pointer
      display: flex
      margin-right: -8px
      margin-bottom: -8px
      justify-content: flex-end

.fact-checking-in
  &__inner
    padding-top: 70px
    padding-bottom: 130px
  &__content
    display: flex
  &__sidebar
    width: 160px
    span
      font-size: 16px
      font-family: '500'
      line-height: 20px
      color: #6F6F6F
  &__share
    margin-top: 60px
    a
      & + a
        margin-left: 14px
    &>div
      margin-top: 20px
  &__info
    margin-left: 100px
    max-width: 700px
    width: 100%
  &__mobile-date
    display: none
  &__mobile-share
    display: none
  &__title
    font-size: 32px
    font-family: '600'
    line-height: 35px
    border-bottom: 1px solid #DADADA
    padding-bottom: 40px
  &__descr
    margin-top: 50px
    p
      color: #7E7E7E
      font-size: 18px
      font-family: '500'
      line-height: 21px
      margin-bottom: 0
      & + p
        margin-top: 20px

.featured-fact-checking
  background: #F9F9F9
  &__inner
    padding: 100px 0 120px 0
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #DADADA
    padding-bottom: 10px
    .title
      font-size: 32px
      line-height: 35px
    .link
      color: #A9A9A9 !important
      cursor: pointer
      font-size: 16px
      font-family: '500'
  .fact-checking__cards
    margin-top: 60px
  .fact-checking__card
    background: #FFFFFF

@media (max-width: 767px)
  .fact-checking
    padding-top: 80px
    padding-bottom: 80px
    // overflow: hidden
    &__header
      padding-bottom: 30px
      .subtitle
        font-size: 16px
        line-height: 20px
    &__tabs
      margin-top: 30px
      flex-wrap: nowrap
      overflow-x: scroll
      align-items: flex-start
      &::-webkit-scrollbar
        width: 0
    &__tab
      height: 43px
      padding: 10px 20px
      white-space: nowrap
    &__content
      margin-top: 30px
    &__cards
      margin-top: 30px
      flex-wrap: wrap
    &__card
      margin-right: 0 !important
      width: 100%
      margin-bottom: 20px
      &-subtitle
        font-size: 14px
        line-height: 18px
      &-link
        margin-top: 28px
        img
          width: 24px
          height: 24px

  .fact-checking-in
    &__inner
      padding-top: 80px
      padding-bottom: 80px
    &__sidebar
      display: none
    &__title
      font-size: 22px
      line-height: 24px
      padding-bottom: 25px
    &__info
      margin-left: 0
      width: 100%
    &__descr
      margin-top: 40px
      p
        font-size: 16px
        line-height: 20px
    &__mobile-date
      display: block
      color: #7E7E7E
      font-size: 16px
      margin-bottom: 30px
    &__mobile-share
      margin-top: 40px
      display: block
      span
        color: #7E7E7E
        font-size: 16px
        margin-bottom: 10px
        display: block
      div
        a
          & + a
            margin-left: 20px
