.main
  background: #E6FCFF
  &__inner
    min-height: calc( 100vh - 74px )
    padding: 70px 0
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__header
    border-bottom: 1px solid #A1E2EB
    padding-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px
    .title
      font-size: 26px
      line-height: 30px
    .link
      color: #161616
      font-size: 16px
      font-family: '500'
      display: flex
      align-items: center
      img
        width: 20px
        height: 20px
        margin-left: 10px
  &__slider
    width: 100%
    max-width: 770px
    .main__header
      margin-right: 15px
    &-desktop
      background: #FFFFFF
      border-radius: 5px
      overflow: hidden
      height: 700px
      &>img
        height: 423px
        width: 100%
        object-fit: cover
        object-position: center
      &>div
        padding: 20px 40px
        height: calc(100% - 423px)
        display: flex
        flex-direction: column
        justify-content: space-between
        .title
          font-size: 26px
          line-height: 31px
          color: #161616
        .subtitle
          color: #7E7E7E
          font-size: 18px
          line-height: 21px
        .initials
          margin-top: 20px
          display: flex
          align-items: center
          p
            margin-bottom: 0
            font-size: 18px
            font-family: '500'
            line-height: 21px
            width: 100%
            max-width: 161px
          img
            width: 100px
            object-fit: contain
            margin-left: 15px
  &__news-button
    display: none
  &__news
    width: 100%
    max-width: 475px
    .news__scrollNews
      background: #FFFFFF
      border-radius: 5px
      width: 100%
      max-height: 700px
      height: 700px
      overflow: hidden

.goals
  background: #00A6BD
  overflow: hidden
  &__inner
    padding-top: 100px
    display: flex
    align-items: center
  &__descr
    max-width: 430px
    width: 100%
    margin-bottom: 100px
    .title
      font-size: 40px
      line-height: 44px
      color: white
    .subtitle
      margin-top: 30px
      font-size: 17px
      font-family: '500'
      color: #CFF3F8
      line-height: 22px
    .mobile
      display: none
    .bold
      font-family: '600'
      color: white
      font-size: 20px
      margin-top: 20px
  &__button
    margin-top: 130px
    border: none
    background: #FFF5AB
    border-radius: 10px
    display: flex
    justify-content: space-between
    align-items: center
    text-align: left
    padding: 20px 32px
    width: 100%
    span
      color: #695F12
      font-size: 17px
      font-family: '600'
      line-height: 21px
  &__content
    margin-left: 80px
    background-image: url('../img/table.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    width: 720px
    height: 700px
    padding: 70px 50px 0px 50px
    &-header
      display: flex
      align-items: center
      img
        width: 100px
        object-fit: contain
      .title
        font-size: 25px
        line-height: 31px
        margin-left: 15px
    &-wrap
      display: flex
      height: 100%
      margin-top: 45px
    &-left
      width: 65%
    &-right
      width: 35%
      border-left: 1px solid #DADADA
      .goals__content-title
        padding-left: 30px
    &-title
      border-top: 1px solid #DADADA
      padding: 17px 0
      font-size: 18px
      font-family: '600'
      border-bottom: 1px solid #DADADA
    &-items
      margin-top: 24px
    &-item
      display: flex
      align-items: flex-start
      padding-right: 20px
      & + .goals__content-item
        margin-top: 30px
      img
        width: 24px
        height: 24px
        margin-right: 20px
      p
        margin-bottom: 0
        font-family: '500'
        font-size: 18px
        line-height: 21px
    &-sees
      padding: 17px 30px 0 30px
    &-see
      color: #7E7E7E
      font-size: 18px
      font-family: '500'
      cursor: pointer
      display: flex
      align-items: center
      min-height: 38px
      img
        width: 24px
        height: 24px
        margin-left: 15px
      & + .goals__content-see
        margin-top: 30px

.wish
  background: #E6FCFF
  &__inner
    min-height: 80vh
    padding-top: 60px
    padding-bottom: 60px
    display: flex
    align-items: center
    justify-content: space-between
  &__content
    max-width: 427px
    .title
      font-size: 40px
      line-height: 44px
    .link
      margin-top: 40px
      color: #00424C
      font-size: 17px
      font-family: '500'
      display: flex
      align-items: center
      img
        margin-left: 10px
        width: 24px
        height: 24px
        cursor: pointer
  &__gifs
    img
      width: 90%
      object-fit: contain
      margin-left: 10%
  &__button
    margin-top: 80px
    background: #5CC8D7 !important
    width: auto !important
    padding-left: 30px
    padding-right: 30px
    display: flex
    align-items: center
    color: white !important
    img
      margin-right: 10px

.letter
  &__inner
    padding-top: 120px
    padding-bottom: 100px
    max-width: 1200px
    width: 100%
    margin-left: auto
    margin-right: auto
    background-image: url('../img/letter-bg.png')
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center center
    .title
      max-width: 777px
      width: 100%
      font-size: 40px
      line-height: 44px
      margin-left: auto
      margin-right: auto
      text-align: center
    .subtitle
      margin-top: 65px
      text-align: center
      font-family: '500'
      font-size: 20px
  &__title
    margin-top: 10px
    font-size: 64px
    font-family: '600'
    text-align: center
    line-height: 70px
  &__button
    border: none
    display: block
    margin-top: 40px
    margin-left: auto
    margin-right: auto
    text-align: center
    background: #FFE72E
    border-radius: 10px
    padding: 18px 30px
    font-family: '600'
    font-size: 22px

.programs
  &__inner
    padding: 130px 0 120px 0
  &__header
    border-bottom: 1px solid #EDEDED
    padding-bottom: 14px
    .title
      font-size: 40px
      line-height: 44px
  &__cards
    margin-top: 65px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: -3%
  &__card
    width: 23%
    background: #F9F9F9
    border-radius: 10px
    padding: 35px
    margin-bottom: 3%
    position: relative
    &-title
      display: flex
      align-items: center
      font-family: '600'
      font-size: 25px
      line-height: 27px
      img
        display: block
        margin-right: 14px
    &-descr
      margin-top: 17px
      color: #7E7E7E
      font-size: 17px
      font-family: '500'
      line-height: 21px
      padding-bottom: 60px
    &-arrow
      position: absolute
      right: 10px
      bottom: 10px
      cursor: pointer
    &:nth-last-child(2)
      background-color: #5CC8D7
      background-image: url('../img/programs-pred-last-bfg.png')
      background-repeat: no-repeat
      background-position: left bottom
      background-size: contain
      *
        color: white !important
    &:last-child
      background-color: #FFFDEA
      background-image: url('../img/programs-last-bg.png')
      background-repeat: no-repeat
      background-position: center bottom
      background-size: 100% 74px
      .form
        span
          color: #161616
          font-family: '600'
          font-size: 24px
          line-height: 28px
        .button
          margin-top: 30px

.news
  &__inner
    padding: 130px 0
  &__inner2
    padding: 80px 0
  &__header2
    color: #393939
    opacity: 0.3
    font-size: 18px
  &__header
    display: flex
    justify-content: space-between
    align-items: flex-end
    border-bottom: 1px solid #DADADA
    padding-bottom: 14px
    .title
      width: 100%
      max-width: 700px
    .link
      color: #7E7E7E
      cursor: pointer
      font-size: 17px
      font-family: '500'
      display: flex
      align-items: center
      img
        margin-left: 13px
  &__content
    display: flex
    justify-content: space-between
    margin-top: 65px
  &__content2
    display: flex
    justify-content: space-between
    margin-top: 30px
  &__cards
    width: 650px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__card
    width: 300px
    cursor: pointer
    margin-bottom: 50px
    &-img
      img
        width: 100%
        height: 200px
        object-fit: contain
        border-radius: 4px
    &-date
      font-size: 14px
      font-family: '500'
      color: #6F6F6F
      margin-top: 20px
    &-title
      margin-top: 20px
      font-size: 16px
      font-family: '500'
      color: #161616
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
  &__scrollNews
    width: 570px
    max-height: 700px
    background: #F9F9F9
    border-radius: 5px
    padding: 35px 25px 35px 35px
  &__items
    height: 100%
    overflow-y: scroll
    padding-right: 30px
    &::-webkit-scrollbar
      width: 3px
    &::-webkit-scrollbar-track
      background-color: #EDEDED
      border-radius: 0
    &::-webkit-scrollbar-thumb
      background-color: #A9A9A9
      border-radius: 0
  &__item
    &-title
      color: #161616
      font-family: '500'
      font-size: 18px
      line-height: 22px
    &-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 10px
      span
        color: #A9A9A9
        font-size: 15px
        font-family: '500'
      img
        width: 30px
        height: 30px
        object-fit: contain
        cursor: pointer
    & + .news__item
      border-top: 1px solid #DADADA
      padding-top: 22px
      margin-top: 16px
  &__boxs
    display: flex
    flex-wrap: wrap
  &__box
    cursor: pointer
    width: 23.5%
    margin-right: 2%
    margin-bottom: 60px
    &:first-child
      width: 38%
      margin-right: 4%
      .news__box-content
        flex-direction: column-reverse
      .news__box-title
        margin-top: 0
        margin-bottom: 15px
    &:nth-child(2)
      width: 27%
      margin-right: 4%
    &:nth-child(3)
      width: 27%
      margin-right: 0
    &:nth-child(7)
      margin-right: 0
  &__box-content
    margin-top: 20px
    display: flex
    flex-direction: column
  &__box-hashtag
    color: #7E7E7E
    font-size: 14px
    font-family: '500'
  &__box-title
    margin-top: 15px
    color: #161616
    font-size: 18px
    font-family: '500'
    line-height: 21px
  &__box-img
    img
      width: 100%

.news-in
  &__inner
    padding-top: 20px
    padding-bottom: 140px
  &__main-img
    img
      width: 100%
      height: 500px
      object-fit: cover
      object-position: center
  &__content
    display: flex
    margin-top: 60px
  &__sidebar
    width: 160px
    span
      font-size: 16px
      font-family: '500'
      line-height: 20px
      color: #6F6F6F
  &__share
    margin-top: 60px
    a
      & + a
        margin-left: 14px
    &>div
      margin-top: 20px
  &__mobile-date
    display: none
  &__mobile-share
    display: none
  &__info
    margin-left: 100px
    max-width: 700px
    width: 100%
  &__title
    font-size: 32px
    font-family: '600'
    line-height: 35px
  &__descr
    margin-top: 50px
    p
      color: #7E7E7E
      font-size: 18px
      font-family: '500'
      line-height: 21px
      margin-bottom: 0
      & + p
        margin-top: 20px
  &__img
    margin-top: 50px
    img
      width: 100%
      height: 450px
      object-fit: cover
      object-position: center

.featured-news
  background: #F9F9F9
  &__inner
    padding: 80px 0 100px 0
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #DADADA
    padding-bottom: 10px
    .title
      font-size: 32px
      line-height: 35px
    .link
      color: #A9A9A9 !important
      cursor: pointer
      font-size: 16px
      font-family: '500'
  &__cards
    margin-top: 70px
    display: flex
    justify-content: space-between
  &__card
    width: 23.5%
    &-img
      img
        width: 100%
        height: 200px
        object-fit: cover
        object-position: center
    &-hashtag
      margin-top: 20px
      color: #7E7E7E
      font-size: 14px
      font-family: '500'
    &-title
      margin-top: 15px
      font-size: 16px
      font-family: '500'
      line-height: 18px

.second-slider
  background: #FFFDEA
  padding: 100px 0
  &__slide
    display: flex
    justify-content: space-between
    width: 100%
    &-center
      display: flex
      flex-direction: column
      justify-content: center
    &-img
      width: calc( 50% - 100px )
      height: 580px
      border-radius: 10px
      overflow: hidden
      img
        object-fit: cover
        object-position: center
        width: 100%
        height: 100%
    &>div
      width: calc( 50% - 50px )
      margin-right: 50px
    p
      color: #695F12
      font-size: 32px
      font-family: '600'
      line-height: 35px
      margin-bottom: 0
      & + p
        margin-top: 20px
  &__descr
    .date
      color: #695F12
      font-size: 16px
      font-family: '500'
    .map
      margin-top: 30px
      img
        width: 90px
        object-fit: contain
    .title
      font-size: 26px
      font-family: '600'
      color: #695F12
      margin-top: 40px
    .text
      color: #695F12
      font-size: 19px
      font-family: '500'
      margin-top: 24px
  &__initials
    margin-top: 40px
    display: flex
    align-items: flex-end
    img
      width: 130px
      object-fit: contain
      margin-left: 28px
    span
      color: #373209
      font-size: 20px
      font-family: '500'
      line-height: 24px

@media (max-width: 767px)
  .main
    min-height: 100vh
    &__inner
      padding-top: 50px
      padding-bottom: 80px
      flex-wrap: wrap
    &__header
      border-bottom: none
      padding-bottom: 0
      margin-right: 0
      margin-bottom: 20px
      .title
        color: #00424C
        font-size: 22px
      .link
        display: none
    &__slider
      &-desktop
        height: 585px
        &>img
          height: 300px
          object-fit: cover
          object-position: center
        &>div
          height: calc(100% - 300px)
          padding: 24px 20px 20px 20px
          .title
            display: none
          .subtitle
            margin-top: 0
            font-size: 14px
            line-height: 16px
          .initials
            margin-top: 10px
            flex-direction: column
            align-items: flex-start
            p
              font-size: 16px
              line-height: 20px
            img
              margin-top: -10px
              width: 66px
              object-position: left
    &__news
      margin-top: 50px
      .news__scrollNews
        height: auto
        max-height: max-content
        padding: 30px 14px
      .news__items
        padding-right: 0
        max-height: max-content
        overflow-y: unset
        height: auto
        font-size: 16px
        line-height: 19px
      &-button
        margin-top: 30px
        display: block
        background: #FFF5AB
        border-radius: 5px
        border: none
        width: 100%
        height: 48px
    &__title
      font-size: 33px
      line-height: 46px
    &__footer
      bottom: 40px
      span
        font-size: 18px
      img
        width: 145px
        margin-top: 10px

  .goals
    &__inner
      padding-top: 80px
      padding-bottom: 80px
      flex-wrap: wrap
    &__button
      img
        display: none
    &__descr
      margin-bottom: 0
      .title
        font-size: 22px
        line-height: 26px
      .subtitle
        display: none
      .mobile
        display: block
        margin-top: 40px
        margin-bottom: 40px
        img
          width: 100%
    &__button
      margin-top: 0
    &__content
      display: none

  .programs
    &__inner
      padding: 80px 0
    &__header
      border-bottom: none
      padding-bottom: 0
      .title
        text-transform: capitalize
        font-size: 23px
        line-height: 28px
    &__cards
      flex-direction: column
    &__card
      width: 100%
      margin-bottom: 20px
      .form
        span
          color: #39679D !important
          text-transform: capitalize !important
          font-size: 23px !important
      &:nth-last-child(2)
        background-color: #5CC8D7
        background-image: url('../img/programs-pred-last-bfg.png')
        background-repeat: no-repeat
        background-position: left bottom
        background-size: 65%
        height: 330px
        *
          color: white !important
      &:last-child
        background-color: #FFFDEA
        background-image: url('../img/programs-last-bg.png')
        background-repeat: no-repeat
        background-position: center bottom
        background-size: 100% 93px
        min-height: 330px
        .form
          span
            color: #161616 !important
            font-family: '600'
            font-size: 22px
            line-height: 26px
          .button
            margin-top: 20px

  .wish
    &__inner
      padding-top: 80px
      flex-direction: column
    &__content
      .title
        color: #00424C
        font-size: 22px
        line-height: 26px
        .link
          margin-top: 15px
      .button
        width: 100% !important
        justify-content: center
        height: 60px
        margin-top: 50px !important
    &__gifs
      margin-top: 80px
      img
        margin-left: 0
        width: 100%

  .letter
    &__inner
      padding-top: 80px
      padding-bottom: 80px
      .title
        font-size: 22px
        line-height: 26px
        padding-left: 5px
        padding-right: 5px
      .subtitle
        margin-top: 140px
    &__title
      font-size: 40px
      line-height: 40px
    &__button
      margin-top: 120px

  .news
    &__inner
      padding: 80px 0
    &__header
      flex-direction: column
      .link
        display: none
    &__content
      flex-direction: column
    &__cards
      width: 100%
    &__card
      width: 48%
      &-img
        img
          height: auto
    &__scrollNews
      width: 100%
      overflow: hidden
    &__items
      max-height: 500px

  .news
    &__header2
      font-size: 16px
      font-family: '500'
      color: #161616 !important
      opacity: 1
    &__content2
      flex-wrap: wrap
    &__boxs
      justify-content: space-between
      margin-top: 40px
    &__box
      width: 48% !important
      margin-right: 0 !important
      margin-bottom: 40px
      &-img
        img
          border-radius: 4px
          overflow: hidden
      &-content
        flex-direction: column !important
      &-hashtag
        min-height: 44px
      &-title
        margin-top: 15px !important

  .news-in
    &__inner
      padding-top: 30px
      padding-bottom: 80px
    &__main-img
      img
        border-radius: 4px
        height: 200px
        object-fit: cover
        object-position: center
    &__content
      margin-top: 20px
    &__sidebar
      display: none
    &__info
      margin-left: 0
    &__title
      font-size: 18px
      line-height: 21px
      max-width: 270px
    &__mobile-date
      display: block
      color: #6F6F6F
      font-size: 14px
      font-family: '500'
      margin-bottom: 20px
    &__mobile-share
      display: block
      margin-top: 30px
      span
        color: #6F6F6F
        font-size: 14px
        font-family: '500'
      div
        margin-top: 10px
        a
          & + a
            margin-left: 20px
    &__img
      img
        height: 200px
        object-fit: cover
        object-position: center

  .featured-news
    &__inner
      padding-bottom: 40px
    &__header
      .title
        font-size: 18px
      .link
        font-size: 14px
    &__cards
      margin-top: 30px
      flex-wrap: wrap
      justify-content: space-between
    &__card
      width: 48%
      margin-bottom: 40px
      &-img
        img
          height: 130px
          object-fit: cover
          object-position: center
          border-radius: 4px

  .second-slider
    padding: 80px 0 60px 0
    &__slide
      flex-wrap: wrap
      padding-bottom: 50px
      &-img
        width: 100%
        height: 250px
      &>div
        margin-right: 0
        width: 100%
    &__text
      p
        margin-top: 40px
        font-size: 30px
        color: #161616
        line-height: 36px
    &__descr
      .date
        margin-top: 15px
        font-size: 14px
        line-height: 16px
      .map
        display: none
      .title
        margin-top: 20px
        font-size: 22px
        color: #161616 !important
      .text
        margin-top: 20px
        color: #695F12
        font-display: 16px
        line-height: 20px

@media (min-width: 768px) and (max-width: 992px)
  .programs
    &__inner
      padding: 120px 0
    &__cards
    &__card
      width: 48%
      margin-bottom: 4%

  .news
    &__header
      .title
        max-width: max-content
        margin-right: 15px
    &__cards
      width: 46%
    &__card
      width: 100%
      img
        width: 100%
    &__scrollNews
      width: 46%

@media (min-width: 993px) and (max-width: 1199px)
  .main
    &__title
      width: 800px

  .programs
    &__inner
      padding: 120px 0
    &__cards
    &__card
      width: 48%
      margin-bottom: 4%
