@media (min-width: 1400px)
  .container
    max-width: 1300px

@media (max-width: 767px)
  .title
    font-size: 22px
    line-height: 26px

  .link-more
    justify-content: flex-start
    margin-bottom: 0 !important
    a
      font-size: 16px

  .header
    &__inner
      padding: 25px 0 12px 0
      .logo
        img
          width: 67px
    &__wrap
      display: none

  .header-back
    &__inner
      padding: 14px 0
      .back
        margin-right: 30px
        padding-right: 30px
        font-size: 14px
        img
          width: 24px
          height: 24px

  .breadcrumb
    display: flex
    overflow: hidden
    &__item
      font-size: 14px
      white-space: nowrap

  .footer
    padding: 70px 0
    &__links
      margin-left: 0
      margin-top: 45px
    &__wrap
      flex-direction: column
      .social
        margin-top: 30px
      .language
        margin-top: 30px
    .row
      & + .row
        margin-top: 70px
    &__text1
      margin-left: 0
      margin-top: 25px
    &__text2
      margin-top: 15px

@media (min-width: 768px) and (max-width: 992px)
  .header
    &__inner
      padding: 18px 0
      .logo
        img
          width: 150px
    &__wrap
      display: none

  .footer
    padding: 70px 0
    &__links
      margin-left: 0
      margin-top: 45px
    &__wrap
      flex-direction: column
      .social
        margin-top: 30px
      .language
        margin-top: 30px
    .row
      & + .row
        margin-top: 70px
    &__text1
      margin-left: 0
      margin-top: 25px
    &__text2
      margin-top: 15px

@media (min-width: 993px) and (max-width: 1199px)
  .header
    &__inner
      padding: 18px 0
      .logo
        img
          width: 150px
    &__wrap
      display: none
