@media (min-width: 1400px)
  .container
    max-width: 1300px

@media (max-width: 767px)
  .title
    font-size: 22px
    line-height: 26px

  .link-more
    justify-content: flex-start
    margin-bottom: 0 !important
    a
      font-size: 16px

  .header
    &__inner
      padding: 25px 0 12px 0
      .logo
        img
          width: 67px
    &__wrap
      display: none
    &__burger-menu
      display: block
      img
        width: 50px
        height: 50px
        cursor: pointer

  .burger
    display: block
    z-index: 1111111111112
    position: fixed
    height: 100vh
    width: 100%
    background: #CFF3F8
    top: 0
    bottom: 0
    left: 0
    right: 0
    &__header
      background: #00A6BD
      height: 87px
      padding: 25px 12px 12px 12px
      display: flex
      justify-content: space-between
      align-items: center
      .logo
        img
          width: 67px
    &__close
      img
        width: 50px
        height: 50px
        cursor: pointer
    &__items
    &__item
      border-bottom: 1px solid #A1E2EB
      padding: 20px 24px
      text-align: right
      a
        color: #00424C !important
        font-size: 22px
        font-family: '600'
        cursor: pointer

  .header-back
    &__inner
      padding: 14px 0
      .back
        margin-right: 30px
        padding-right: 30px
        font-size: 14px
        img
          width: 24px
          height: 24px

  .breadcrumb
    display: flex
    overflow: hidden
    &__item
      font-size: 14px
      white-space: nowrap

  .footer
    padding: 70px 0
    &__links
      margin-left: 0
      margin-top: 45px
    &__wrap
      flex-direction: row
      .social
        margin-top: 30px
      .language
        margin-top: 30px
    .row
      & + .row
        margin-top: 70px
    &__text1
      margin-left: 0
      margin-top: 25px
    &__text2
      margin-top: 15px

@media (min-width: 768px) and (max-width: 992px)
  .header
    &__inner
      padding: 18px 0
      .logo
        img
          width: 150px
    &__wrap
      display: none

  .footer
    padding: 70px 0
    &__links
      margin-left: 0
      margin-top: 45px
    &__wrap
      flex-direction: column
      .social
        margin-top: 30px
      .language
        margin-top: 30px
    .row
      & + .row
        margin-top: 70px
    &__text1
      margin-left: 0
      margin-top: 25px
    &__text2
      margin-top: 15px

@media (min-width: 993px) and (max-width: 1199px)
  .header
    &__inner
      padding: 18px 0
      .logo
        img
          width: 150px
    &__wrap
      display: none
